.one{

height: 90%;
width: 95%;
 
}
img{

    height:100%;
    width:100%;

}



.two{
    
    height: 90%;
    width: 95%;
}

.three{

height: 90%;
width: 95%;

}

button{
background-color: black;
color:white;
}